@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: '"Noto Sans KR", sans-serif';
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
}
